@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

.title {
  text-align: center;
  font-family: 'Spartan', sans-serif;
  margin-top: 5%;
}

.logo1 {
  font-weight: 800;
  font-size: 150%;
  color: rgb(95, 95, 95);
}

.logo2 {
  font-size: 150%;
  color: rgb(37, 100, 218);
}

.search-logo {
  font-size: 3.5rem;
  margin-left: 10px;
}

.description {
  text-align: center;
}